@font-face {
    font-family: 'Josefin Slab', serif;
}

html {
    position: relative;
min-height: 100%;
    }
    
head>title {
    font-family: 'Josefin Slab', serif; 
}

body {
    padding-top: 50px;
    margin-bottom: 60px;
}

h1, h2, h3, p.lead {
    color:lightcoral;
    font-family: 'Josefin Slab', serif;
}

.page-header >.lead {
    color: lightblue;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    background-color: lightcoral;
}

.navbar.navbar-inverse.navbar-fixed-top {
    background: lightgrey;
    font-family: 'Josefin Slab', serif;
    border-bottom: dashed;
    color:white;
}

.nav.navbar-nav>li>a {
    color:white;
}

.navbar.navbar-inverse.navbar-fixed-top>.container>.navbar-header>.navbar-brand {
    color: lightyellow;
    text-decoration: bold;
    font-size: 25px;
}


.starter-template {
    padding: 40px 15px;
    text-align: center;
    font-family: 'Josefin Slab', serif;
}

div.col-sm-6.col-md-8.col-lg-7>a>img {
    margin-bottom: 2%;
}

div.col-sm-6.col-md-4.col-lg-5 {
    font-family: 'Josefin Slab', serif;
    font-size: 14px;
    color:lightcoral;
}


.col-md-4 {
    font-family: 'Josefin Slab', serif;
    font-size: 14px;
}

.col-md-4 >ul>li>b {
    color: lightblue;
}

.col-md-4 >ul>li>a {
    color: lightcoral;
}
.col-md-4 >ul>li>a:hover {
    font-style:italic;
    color: darkorange;
}

.btn-default{
    color:cadetblue;
    background-color:#fff;
    border-color:lightgrey;
}

.btn-default:hover{
    color:cadetblue;
    background-color:lightgray;
    border-color:white;
}

.carousel {
    margin-bottom: 20px;
}

.carousel-inner > .item > img {
    min-width: 100%;
    max-height:95%;
    min-height: 95%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;

    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

.text-muted {
    font-family: 'Josefin Slab', serif;
    color: lightcoral;
}

.text-muted {
    margin: 20px 0;
}
